<!DOCTYPE html>
<html lang="pl">
<% include ./parts/head.ejs %>

<body>
        <%include ./parts/navi.ejs %>
        <div class=container>

                <div class='card'>
                        <h2>Wszystkie zadania</h2>
                        <p class='task-all task'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
                                architecto
                                repellendus
                                quae?</p>
                        <p class='task-all-done task'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
                                architecto
                                repellendus
                                quae?</p>
                </div>
        </div>
        <% include ./parts/scripts.ejs %>
</body>

</html>