<!DOCTYPE html>
<html lang="pl">
    <% include ./parts/head.ejs %>
<body>

    <%include ./parts/navi.ejs %>
    
    <main class="container mt-5 text-center">
        <div class="row justify-content-around">

            <!-- DZIEŃ1 -->
            <div class="col-sm-12 col-md-6 col-lg-3 m-3  card day shadow-lg">
                <h4>Poniedziałek</h4>

                <div class='task text-left mb-2'>
                    <p><span>Tytuł: </span>Zadanie 1</p>
                    <p><span>Start: </span>1.1.19</p>
                    <p><span>Koniec: </span>2.2.19</p>
                    <p><span>Opis: </span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora,
                        perspiciatis.</p>
                </div>
            </div>
            <!-- DZIEŃ2 -->
            <div class="col-sm-12 col-md-6 col-lg-3 m-3 card day shadow-lg">
                    <h4>Wtorek</h4>
                    <div class='task text-left'>
                        </div>
                
            </div>
            <!-- DZIEŃ3 -->
            <div class="col-sm-12 col-md-6 col-lg-3 m-3 card day shadow-lg">
                  <h4>Środa</h4>

                <div class='task text-left mb-2'>

                </div>

            </div>
            <!-- DZIEŃ4 -->
            <div class="col-sm-12 col-md-6 col-lg-3 m-3 card day shadow-lg">
                <h4>Czwartek</h4>
                <div class='task text-left mb-2'></div>
            </div>
            <!-- DZIEŃ5 -->
            <div class="col-sm-12 col-md-6 col-lg-3 m-3 card day shadow-lg">
                <h4>Piątek</h4>
                <div class='task text-left mb-2'></div>

            </div>
            <!-- DZIEŃ6 -->
            <div class="col-sm-12 col-md-6 col-lg-3 m-3 card day shadow-lg">
                <h4>Sobota</h4>
                <div class='task text-left mb-2'>

                </div>

            </div>
            <!-- DZIEŃ7 -->
            <div class="col-sm-12 col-md-6 col-lg-3 m-3 card day shadow-lg">
                <h4>Niedziela</h4>
                <div class='task text-left mb-2'>
                    </div>
                    <div class='task text-left mb-2'>
                        </div>
            </div>



        </div>



    </main>

    <% include ./parts/scripts.ejs %>
</body>

</html>