<header class='container-fluid shadow-lg'>
    <div class="row myHeader justify-content-between mx-auto align-items-center p-3">
        <nav class='col-10'>
            <ul>
                <li><a href="/new">DODAJ WYDARZENIE</a></li>
                <li><a href="/week">W TYM TYGODNIU</a></li>
                <li><a href="/all">WSZYSTKIE</a></li>
            </ul>
        </nav>
        <div class='col-2 '><button type='submit' class='btn btn-dark'><i class="fas fa-sign-out-alt"></i> Wyloguj się</button></div>

    </div>
</header>